##### Objectives
* Create a student database
* Print report cards for students
* Add a student
* Add a mark for student

In [77]:
students = [["Ben", {"Maths": 77, "English": 78, "Science": 90}],
           ["Mark", {"Maths": 56, "Art": 95, "History": 65, "Geography": 55}],
           ["Paul", {"English": 66, "History": 88}]]

grades = ((0, "Fail"), (50, "D"), (60, "C"), (70, "B"), (80, "A"), (101, "Cheat"))

In [78]:
def print_report_card(report_student=None):
    for student in students:
        if (student[0] == report_student) or (report_student == None):
            print("Report card for student: ", student[0])
            for subject, mark in student[1].items():
                for grade in grades:
                    if mark < grade[0]:
                        print(subject, " : ", prev_grade)
                        break 
                    prev_grade = grade[1]

In [79]:
print_report_card()

Report card for student:  Ben
Maths  :  B
English  :  B
Science  :  A
Report card for student:  Mark
Maths  :  D
Art  :  A
History  :  C
Geography  :  D
Report card for student:  Paul
English  :  C
History  :  A

In [80]:
id(students)

4740296448

In [81]:
def add_student(student_name):
    global students # You will get access to the latest updates to the students databse from memory
    for student in students: 
        if student[0] == student_name:
            return "Studend already in database"
        students.append([student_name, {}])
        return "Student added succesfully"

In [82]:
add_student("Jack")

'Student added succesfully'

In [83]:
students

[['Ben', {'Maths': 77, 'English': 78, 'Science': 90}],
 ['Mark', {'Maths': 56, 'Art': 95, 'History': 65, 'Geography': 55}],
 ['Paul', {'English': 66, 'History': 88}],
 ['Jack', {}]]

In [84]:
students

[['Ben', {'Maths': 77, 'English': 78, 'Science': 90}],
 ['Mark', {'Maths': 56, 'Art': 95, 'History': 65, 'Geography': 55}],
 ['Paul', {'English': 66, 'History': 88}],
 ['Jack', {}]]

In [ ]:
while True:
    print("Welcome to the student database")
    print("What can I help you with?")
    print("Enter 1 to view all report cards")
    print("Enter 2 to view the report card for a student")
    print("Enter 3 to add a student")
    print("Enter 4 to add a mark for student")
    print("Enter 5 to exit")
    
    try:
        user_choice = int(input("Choice: "))
    except ValueError:
        print("That's not an number I recognize")
        user_choice = 0
    
    if user_choice == 1:
        print_report_card()
    elif user_choice == 2:
        enter_student = input("Which Student? ")
        print(print_report_card(enter_student))
    elif user_choice == 3:
        enter_student = input("Student Name? ")
        print(add_student(enter_student))
    elif user_choice == 4:
        enter_student = input("Student Name? ")
        enter_subject = input("Subject? ")
        num_error = True
        while num_error:
            num_error = False
            try:
                enter_mark = int(input("Mark? "))
            except ValueError:
                print("I don't recognize that as a number")
                num_error = True
        print(add_mark(enter_student, enter_subject, enter_mark))
    elif user_choice == 5:
        break
    else:
        print("Unknown choice")
    input("Press enter to continue")
print("Thanks for using the student database")

Welcome to the student database
What can I help you with?
Enter 1 to view all report cards
Enter 2 to view the report card for a student
Enter 3 to add a student
Enter 4 to add a mark for student
Enter 5 to exit

Choice:  1

Report card for student:  Ben
Maths  :  B
English  :  B
Science  :  A
Report card for student:  Mark
Maths  :  D
Art  :  A
History  :  C
Geography  :  D
Report card for student:  Paul
English  :  C
History  :  A
Report card for student:  Jack

Press enter to continue 2

Welcome to the student database
What can I help you with?
Enter 1 to view all report cards
Enter 2 to view the report card for a student
Enter 3 to add a student
Enter 4 to add a mark for student
Enter 5 to exit

Choice:  2
Which Student?  Jack

Report card for student:  Jack
None

Press enter to continue 2

Welcome to the student database
What can I help you with?
Enter 1 to view all report cards
Enter 2 to view the report card for a student
Enter 3 to add a student
Enter 4 to add a mark for student
Enter 5 to exit

Choice:  2
Which Student?  Ben

Report card for student:  Ben
Maths  :  B
English  :  B
Science  :  A
None